body {
    margin: 0px;
}

.main {
    height: 100vh;
    background-color: #DFE6FB;
    background-image: url("./assets/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card {
    background-color: white;
    width: 450px;
    height: 658px;
    border-radius: 25px;
}

.hero {
    border-radius: 25px 25px 0px 0px;
}